@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');
@import url("//cdn.web-fonts.ge/fonts/archyedt-bold/css/archyedt-bold.min.css");
@import url("//cdn.web-fonts.ge/fonts/archyedt-bold/css/archyedt-bold.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-banner-quadrosquare-caps/css/bpg-banner-quadrosquare-caps.min.css");


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
    list-style-type: none;
    text-decoration: none;
    font-family: 'ArchyEDT-Bold';
    resize: none;
}
body {
    background-color: #E6DADC;
    height: 100%;
}
html{
    height: 100%;
}

/* header and navbar */

.header {
    height: 100px;
    padding: 20px;
    width: 100%;
  }
  
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: fixed;
    padding: 12px 20px;
    z-index: 999;
    background-color: #e6dadc;
}

.logo img {
    width: 13em;
}

.menu{
    align-items: center;
}

.menu li a{
    font-size: 30px;
    margin: 0 15px;
}
.not-active-li{
    outline: 1px solid #227497;
    padding: 5px 10px;
    border-radius: 10px;
    transition: 0.3s;
}
.not-active-li:hover{
    background-color: rgba(114, 167, 193, 0.356);
}
  
.actived-li{
    border-bottom: 2px solid #227497 !important;
}
.actived-li {
    border-bottom: 3px solid #227497 !important;
}

.active-li {
    position: relative;
    transition: border-color 0.3s ease;
    padding-bottom: 2px;
}
  
  .active-li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    transition: width 0.3s ease;
  }
  
  .active-li:hover::before {
    width: 100%;
    background-color: #227497;
  }
  



.menu {
    display: flex;
}


.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
    z-index: 999;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {
    display: none;
}
.menu li a{
    color: #227497;
}


@media(max-width: 1150px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: all 0.2s ease-in-out;
        backdrop-filter: blur(5px);
        background-color: #9692927b;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}

}


/* burger menu */
.container {
    display: inline-block;
    cursor: pointer;
    z-index: 999999;
  }
  
.burger-menu-name{
    color: #227497;
}

  .change{
    transform: rotate(-180deg);
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);

  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }


/* main */

  
  main {
    padding: 50px;
    height: 100%;
  }
  
  section {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact-info {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .contact-info-h1 {
    font-size: 50px;
    color: #227497;
  }

  .c-info-div{
    display: flex;
    flex-direction: column;
  }
  
  .phone-number, .gmail {
    color: #227497;
    text-decoration: none;
    font-size: 30px;
  }

  .phone-number span, .gmail span{
    color: #0e5f82;
  }
  
.dev-contact-h1{
    font-size: 50px;
    color: #227497;
}

.dev-minicard{
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 25px 30px 25px 15px;
    justify-content: space-between;
}
.dev-minicard img{
    border-radius: 8px;
}

.dev-minicard .dev-name{
    font-size: 55px;
}

/* social icons */
.contact-icons{
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 20px;
  }
  .contact-icons a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    border-radius: 100%;
  }
  .contact-icons a:hover{
    background-color: rgb(255, 255, 255);
  }
  .contact-icons a img{
    width: 45px;
  }

.map{
    border-radius: 15px;
}






/* foooter */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
}